@model CascadingDropDown.Models.CountryModelView

@{
    ViewBag.Title = "Home Page";

}

<br />
<br />
<br />
<br />


<div class="container">
    <div class="form-group">

        @Html.DropDownListFor(m => m.countryID, ViewBag.CountryList as SelectList, "--Country--", new { @class = "form-control" })


    </div>
</div>

<div class="container">
    <div class="form-group">

        @Html.DropDownListFor(m => m.stateID, new SelectList("  "), "--State--", new { @class = "form-control" })


    </div>
</div>
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
@section Scripts{
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script>


        $(function () {
            $("#countryID").change(function () {
                alert("testing my code");
                $.get("/Home/GetStateList", { CountryID: $("#countryID").val() }, function (data) {
                    $("#stateID").empty();
                    $.each(data, function (index, row) {
                        $("#stateID").append("<option value='" + row.StateID + "'>" + row.StateName + "<option>");

                    });

                }
                );

            }


            );
        });

    </script>
}